[project]
name = "collide"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = []

[dependency-groups]
dev = [
    "graphviz>=0.21",
    "ipykernel>=7.1.0",
    "pydot>=4.0.1",
    "supriya>=25.9b1",
]
